* {
  margin:0;
  padding:0;
  font-size:64px;
  color: #333333;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height:100vh;
}
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter{
  border: 1px solid #333333;
  padding: 32px;
  margin:0 8px 8px 0;
  border-radius: 2px;
}
.counter-reset-btn {
  font-size:8px;
  padding:4px 8px;
  border-radius: 2px;
  background-color: #ffff;
  cursor: pointer;
}